### Import Library

In [1]:
! pip install -r ../requirements.txt

^C

In [2]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

### Extract Data

In [3]:
url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson"
response = requests.get(url)
data = response.json()

earthquakes = []
for feature in data["features"]:
    properties = feature["properties"]
    geometry = feature["geometry"]
    earthquakes.append({
        "id": feature["id"],
        "magnitude": properties["mag"],
        "place": properties["place"],
        "time": properties["time"],
        "longitude": geometry["coordinates"][0],
        "latitude": geometry["coordinates"][1],
        "depth": geometry["coordinates"][2]
    })

df = pd.DataFrame(earthquakes)

In [5]:
df.head()

,id,magnitude,place,time,longitude,latitude,depth
0,nc75181532,0.75,"2 km of The Geysers, CA",1747146985010,-122.765999,38.795666,3.6100
1,tx2025jihc,1.40,"7 km WNW of Westbrook, Texas",1747146512871,-101.091000,32.371000,4.1492
2,ak025646yp7y,2.50,"64 km W of Tyonek, Alaska",1747146354061,-152.322000,61.137600,14.5000
3,ak025646ygj8,1.70,"63 km WNW of Anchor Point, Alaska",1747146281482,-152.890700,59.971500,90.1000
4,ak025646fqre,2.00,"77 km SSE of Perryville, Alaska",1747143429382,-158.764800,55.247800,25.1000

In [6]:
df = df[(df["longitude"].between(95, 141)) & (df["latitude"].between(-11, 6))]

In [7]:
df["depth_category"] = pd.cut(
    df["depth"],
    bins=[0, 70, 300, 700],
    labels=["Shallow", "Intermediate", "Deep"]
)

In [8]:
df["time"] = pd.to_datetime(df["time"], unit="ms")

df["time"] = df["time"].dt.tz_localize("UTC").dt.tz_convert("Asia/Jakarta")

In [9]:
df.head(30)

,id,magnitude,place,time,longitude,latitude,depth,depth_category
64,us7000pyy2,4.4,"173 km W of Gorontalo, Indonesia",2025-05-13 12:41:10.138000+07:00,121.5159,0.6925,100.046,Intermediate
173,us7000pyvj,5.1,"145 km WNW of Tobelo, Indonesia",2025-05-13 00:01:40.278000+07:00,126.7615,2.1083,39.844,Shallow
177,us7000pyus,4.1,"248 km ENE of Lospalos, Timor Leste",2025-05-12 23:23:59.052000+07:00,128.9557,-7.4163,133.637,Intermediate
185,us7000pyul,4.5,"51 km WSW of Sungai Penuh, Indonesia",2025-05-12 22:40:06.773000+07:00,100.9618,-2.2280,69.192,Shallow
312,us7000pyrf,4.9,"50 km WSW of Padangsidempuan, Indonesia",2025-05-12 10:09:38.216000+07:00,98.8950,1.1274,92.219,Intermediate
477,us7000pymn,4.4,"134 km WNW of Ternate, Indonesia",2025-05-11 17:10:38.696000+07:00,126.3581,1.4290,48.677,Shallow
495,us7000pyjn,5.8,"33 km ENE of Blangpidie, Indonesia",2025-05-11 15:57:44.519000+07:00,97.0973,3.8987,94.750,Intermediate
698,us7000pyfm,4.2,"272 km NNE of Lospalos, Timor Leste",2025-05-10 23:24:08.537000+07:00,128.1220,-6.3240,347.013,Deep
728,us7000pyf9,4.5,"178 km W of Abepura, Indonesia",2025-05-10 20:42:55.889000+07:00,139.0368,-2.3871,40.337,Shallow
850,us7000pydg,4.4,"182 km N of Maubara, Timor Leste",2025-05-10 10:34:52.537000+07:00,124.9537,-6.9834,546.512,Deep
900,us7000pyc9,5.3,"282 km ENE of Lospalos, Timor Leste",2025-05-10 05:45:44.938000+07:00,129.1380,-7.1234,164.942,Intermediate
1098,us7000py5d,4.5,"58 km NNE of Bima, Indonesia",2025-05-09 11:02:37.243000+07:00,118.9414,-7.9715,10.000,Shallow
1256,us7000pxyj,4.7,"124 km NW of Ambon, Indonesia",2025-05-08 21:51:27.430000+07:00,127.3049,-3.0004,65.254,Shallow
1337,us7000pxwm,4.4,"154 km SW of Ambon, Indonesia",2025-05-08 15:27:36.584000+07:00,127.1093,-4.5866,369.439,Deep
1514,us7000pxru,4.9,"72 km SSE of Biak, Indonesia",2025-05-08 00:49:33.644000+07:00,136.3046,-1.7928,23.932,Shallow
1696,us7000pxne,5.3,"45 km SSW of Gunungsitoli, Indonesia",2025-05-07 14:09:09.926000+07:00,97.4176,0.9316,18.315,Shallow
1715,us7000pxmz,4.7,"102 km E of Modisi, Indonesia",2025-05-07 12:40:02.334000+07:00,125.3567,0.3836,64.627,Shallow
1931,us7000pxht,4.6,"75 km SSE of Biak, Indonesia",2025-05-06 21:20:11.207000+07:00,136.3595,-1.7991,27.354,Shallow
2010,us7000pxg2,4.6,"196 km SW of Abepura, Indonesia",2025-05-06 14:13:12.258000+07:00,139.2705,-3.7314,56.973,Shallow
2069,us7000pxem,4.7,"85 km W of Tobelo, Indonesia",2025-05-06 08:45:48.108000+07:00,127.2424,1.6887,123.931,Intermediate
2119,us7000pxdu,4.9,"93 km SW of Modisi, Indonesia",2025-05-06 05:57:33.219000+07:00,123.7543,-0.0463,120.847,Intermediate
2187,us7000pxbk,4.1,"98 km NNE of Tobelo, Indonesia",2025-05-06 01:36:36.955000+07:00,128.4897,2.4778,221.918,Intermediate
2313,us7000px7k,4.6,"183 km W of Tual, Indonesia",2025-05-05 15:36:59.235000+07:00,131.1014,-5.5133,69.453,Shallow
2408,us7000px5i,4.4,"137 km SE of Sanana, Indonesia",2025-05-05 05:39:40.780000+07:00,126.7938,-2.9968,10.000,Shallow
2473,us7000px3z,4.3,"150 km WNW of Tobelo, Indonesia",2025-05-04 23:00:03.968000+07:00,126.7552,2.2282,56.952,Shallow
2556,us7000px1y,4.6,"236 km NNW of Tobelo, Indonesia",2025-05-04 15:33:23.775000+07:00,127.1590,3.6838,49.380,Shallow
2644,us7000pwzj,4.4,"215 km NE of Lospalos, Timor Leste",2025-05-04 08:05:01.574000+07:00,128.5350,-7.3244,160.170,Intermediate
2677,us7000pwyv,4.5,"63 km NNE of Pototano, Indonesia",2025-05-04 04:26:26.077000+07:00,117.7102,-7.8887,10.000,Shallow
2681,us7000pwys,4.4,Banda Sea,2025-05-04 04:13:47.179000+07:00,129.9592,-6.8264,120.086,Intermediate
2767,us7000pwwu,4.5,"45 km WSW of Tomohon, Indonesia",2025-05-03 21:20:50.752000+07:00,124.4235,1.1743,231.402,Intermediate

In [16]:
load_dotenv()

engine = create_engine(
    f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@"
    f"{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
)

In [25]:
df.to_sql("earthquakes", engine, if_exists="append", index=False)

120

In [26]:
df_all = pd.read_sql("SELECT * FROM earthquakes", engine)
df_all.head(30)

,id,magnitude,place,time,longitude,latitude,depth,depth_category
0,us7000pyy2,4.4,"173 km W of Gorontalo, Indonesia",2025-05-13 05:41:10.138000+00:00,121.5159,0.6925,100.046,Intermediate
1,us7000pyvj,5.1,"145 km WNW of Tobelo, Indonesia",2025-05-12 17:01:40.278000+00:00,126.7615,2.1083,39.844,Shallow
2,us7000pyus,4.1,"248 km ENE of Lospalos, Timor Leste",2025-05-12 16:23:59.052000+00:00,128.9557,-7.4163,133.637,Intermediate
3,us7000pyul,4.5,"51 km WSW of Sungai Penuh, Indonesia",2025-05-12 15:40:06.773000+00:00,100.9618,-2.2280,69.192,Shallow
4,us7000pyrf,4.9,"50 km WSW of Padangsidempuan, Indonesia",2025-05-12 03:09:38.216000+00:00,98.8950,1.1274,92.219,Intermediate
5,us7000pymn,4.4,"134 km WNW of Ternate, Indonesia",2025-05-11 10:10:38.696000+00:00,126.3581,1.4290,48.677,Shallow
6,us7000pyjn,5.8,"33 km ENE of Blangpidie, Indonesia",2025-05-11 08:57:44.519000+00:00,97.0973,3.8987,94.750,Intermediate
7,us7000pyfm,4.2,"272 km NNE of Lospalos, Timor Leste",2025-05-10 16:24:08.537000+00:00,128.1220,-6.3240,347.013,Deep
8,us7000pyf9,4.5,"178 km W of Abepura, Indonesia",2025-05-10 13:42:55.889000+00:00,139.0368,-2.3871,40.337,Shallow
9,us7000pydg,4.4,"182 km N of Maubara, Timor Leste",2025-05-10 03:34:52.537000+00:00,124.9537,-6.9834,546.512,Deep
10,us7000pyc9,5.3,"282 km ENE of Lospalos, Timor Leste",2025-05-09 22:45:44.938000+00:00,129.1380,-7.1234,164.942,Intermediate
11,us7000py5d,4.5,"58 km NNE of Bima, Indonesia",2025-05-09 04:02:37.243000+00:00,118.9414,-7.9715,10.000,Shallow
12,us7000pxyj,4.7,"124 km NW of Ambon, Indonesia",2025-05-08 14:51:27.430000+00:00,127.3049,-3.0004,65.254,Shallow
13,us7000pxwm,4.4,"154 km SW of Ambon, Indonesia",2025-05-08 08:27:36.584000+00:00,127.1093,-4.5866,369.439,Deep
14,us7000pxru,4.9,"72 km SSE of Biak, Indonesia",2025-05-07 17:49:33.644000+00:00,136.3046,-1.7928,23.932,Shallow
15,us7000pxne,5.3,"45 km SSW of Gunungsitoli, Indonesia",2025-05-07 07:09:09.926000+00:00,97.4176,0.9316,18.315,Shallow
16,us7000pxmz,4.7,"102 km E of Modisi, Indonesia",2025-05-07 05:40:02.334000+00:00,125.3567,0.3836,64.627,Shallow
17,us7000pxht,4.6,"75 km SSE of Biak, Indonesia",2025-05-06 14:20:11.207000+00:00,136.3595,-1.7991,27.354,Shallow
18,us7000pxg2,4.6,"196 km SW of Abepura, Indonesia",2025-05-06 07:13:12.258000+00:00,139.2705,-3.7314,56.973,Shallow
19,us7000pxem,4.7,"85 km W of Tobelo, Indonesia",2025-05-06 01:45:48.108000+00:00,127.2424,1.6887,123.931,Intermediate
20,us7000pxdu,4.9,"93 km SW of Modisi, Indonesia",2025-05-05 22:57:33.219000+00:00,123.7543,-0.0463,120.847,Intermediate
21,us7000pxbk,4.1,"98 km NNE of Tobelo, Indonesia",2025-05-05 18:36:36.955000+00:00,128.4897,2.4778,221.918,Intermediate
22,us7000px7k,4.6,"183 km W of Tual, Indonesia",2025-05-05 08:36:59.235000+00:00,131.1014,-5.5133,69.453,Shallow
23,us7000px5i,4.4,"137 km SE of Sanana, Indonesia",2025-05-04 22:39:40.780000+00:00,126.7938,-2.9968,10.000,Shallow
24,us7000px3z,4.3,"150 km WNW of Tobelo, Indonesia",2025-05-04 16:00:03.968000+00:00,126.7552,2.2282,56.952,Shallow
25,us7000px1y,4.6,"236 km NNW of Tobelo, Indonesia",2025-05-04 08:33:23.775000+00:00,127.1590,3.6838,49.380,Shallow
26,us7000pwzj,4.4,"215 km NE of Lospalos, Timor Leste",2025-05-04 01:05:01.574000+00:00,128.5350,-7.3244,160.170,Intermediate
27,us7000pwyv,4.5,"63 km NNE of Pototano, Indonesia",2025-05-03 21:26:26.077000+00:00,117.7102,-7.8887,10.000,Shallow
28,us7000pwys,4.4,Banda Sea,2025-05-03 21:13:47.179000+00:00,129.9592,-6.8264,120.086,Intermediate
29,us7000pwwu,4.5,"45 km WSW of Tomohon, Indonesia",2025-05-03 14:20:50.752000+00:00,124.4235,1.1743,231.402,Intermediate