### Import Library

In [42]:
! pip install -r ../requirements.txt

Requirement already satisfied: requests in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from -r ../requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: pandas in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from -r ../requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from -r ../requirements.txt (line 3)) (2.0.40)
Requirement already satisfied: psycopg2-binary in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from -r ../requirements.txt (line 4)) (2.9.10)
Requirement already satisfied: python-dotenv in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from -r ../requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from requests->-r ../requirements.txt (line 1)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from requests->-r ../requirements.txt (line 1)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from requests->-r ../requirements.txt (line 1)) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from requests->-r ../requirements.txt (line 1)) (2025.1.31)
Requirement already satisfied: numpy>=1.23.2 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->-r ../requirements.txt (line 3)) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->-r ../requirements.txt (line 3)) (4.13.2)
Requirement already satisfied: six>=1.5 in c:\users\aknni\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r ../requirements.txt (line 2)) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
import requests
import pandas as pd
from sqlalchemy import create_engine

### Extract Data

In [44]:
url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson"
response = requests.get(url)
data = response.json()

earthquakes = []
for feature in data["features"]:
    properties = feature["properties"]
    geometry = feature["geometry"]
    earthquakes.append({
        "id": feature["id"],
        "magnitude": properties["mag"],
        "place": properties["place"],
        "time": properties["time"],
        "longitude": geometry["coordinates"][0],
        "latitude": geometry["coordinates"][1],
        "depth": geometry["coordinates"][2]
    })

df = pd.DataFrame(earthquakes)

In [45]:
df.head()

,id,magnitude,place,time,longitude,latitude,depth
0,nn00897286,1.20,"20 km NNE of Yerington, Nevada",1746558173301,-119.045000,39.143900,11.20
1,ci41146032,1.36,"21 km E of Little Lake, CA",1746556905910,-117.669334,35.924667,4.58
2,nc75177401,2.61,"9 km NW of Dunnigan, CA",1746556428530,-122.055336,38.933998,0.01
3,us7000pxjh,5.80,central East Pacific Rise,1746555310986,-104.417100,-3.995600,10.00
4,ak0255soim1v,1.20,"26 km W of Tyonek, Alaska",1746555277793,-151.616200,61.109400,78.00

In [46]:
df = df[(df["longitude"].between(95, 141)) & (df["latitude"].between(-11, 6))]

In [47]:
df["depth_category"] = pd.cut(
    df["depth"],
    bins=[0, 70, 300, 700],
    labels=["Shallow", "Intermediate", "Deep"]
)

In [48]:
df["time"] = pd.to_datetime(df["time"], unit="ms")

df["time"] = df["time"].dt.tz_localize("UTC").dt.tz_convert("Asia/Jakarta")

In [49]:
df.head(30)

,id,magnitude,place,time,longitude,latitude,depth,depth_category
34,us7000pxht,4.6,"75 km SSE of Biak, Indonesia",2025-05-06 21:20:11.207000+07:00,136.3595,-1.7991,27.354,Shallow
93,us7000pxg2,4.6,"196 km SW of Abepura, Indonesia",2025-05-06 14:13:12.258000+07:00,139.2705,-3.7314,56.973,Shallow
139,us7000pxem,4.7,"85 km W of Tobelo, Indonesia",2025-05-06 08:45:48.108000+07:00,127.2424,1.6887,123.931,Intermediate
180,us7000pxdu,4.9,"93 km SW of Modisi, Indonesia",2025-05-06 05:57:33.219000+07:00,123.7543,-0.0463,120.847,Intermediate
326,us7000px7k,4.6,"183 km W of Tual, Indonesia",2025-05-05 15:36:59.235000+07:00,131.1014,-5.5133,69.453,Shallow
400,us7000px5i,4.4,"137 km SE of Sanana, Indonesia",2025-05-05 05:39:40.780000+07:00,126.7938,-2.9968,10.000,Shallow
453,us7000px3z,4.3,"150 km WNW of Tobelo, Indonesia",2025-05-04 23:00:03.968000+07:00,126.7552,2.2282,56.952,Shallow
524,us7000px1y,4.6,"236 km NNW of Tobelo, Indonesia",2025-05-04 15:33:23.775000+07:00,127.1590,3.6838,49.380,Shallow
641,us7000pwyv,4.5,"63 km NNE of Pototano, Indonesia",2025-05-04 04:26:26.077000+07:00,117.7102,-7.8887,10.000,Shallow
644,us7000pwys,4.4,Banda Sea,2025-05-04 04:13:47.179000+07:00,129.9592,-6.8264,120.086,Intermediate
712,us7000pwwu,4.5,"45 km WSW of Tomohon, Indonesia",2025-05-03 21:20:50.752000+07:00,124.4235,1.1743,231.402,Intermediate
724,us7000pwvy,6.0,"165 km W of Gorontalo, Indonesia",2025-05-03 19:51:45.137000+07:00,121.5769,0.5010,108.386,Intermediate
809,us7000pwu9,5.4,"63 km SSW of Vanimo, Papua New Guinea",2025-05-03 12:10:40.426000+07:00,140.9884,-3.1677,35.000,Shallow
813,us7000pwu6,4.8,"234 km WSW of Bandar Lampung, Indonesia",2025-05-03 11:45:55.454000+07:00,103.3802,-6.4072,10.000,Shallow
841,us7000pwte,4.8,"91 km S of Gambiran Satu, Indonesia",2025-05-03 09:19:19.848000+07:00,114.0138,-9.2067,67.512,Shallow
941,us7000pwpd,4.1,"79 km NNW of Pototano, Indonesia",2025-05-03 00:31:48.334000+07:00,117.2277,-7.7415,299.213,Intermediate
1075,us7000pwj0,4.6,"14 km SSE of Bukittinggi, Indonesia",2025-05-02 14:07:44.803000+07:00,100.4292,-0.4212,10.000,Shallow
1115,us7000pwi1,4.5,"32 km NW of Labuan Bajo, Indonesia",2025-05-02 09:53:47.833000+07:00,119.6871,-8.2796,164.409,Intermediate
1178,us7000pwgn,4.9,"61 km E of Sarangani, Philippines",2025-05-02 05:26:45.571000+07:00,126.0128,5.3421,103.522,Intermediate
1235,us7000pwe8,4.1,"143 km N of Tobelo, Indonesia",2025-05-02 00:17:28.696000+07:00,127.9592,3.0282,135.274,Intermediate
1334,us7000pwb6,4.3,"166 km NNW of Maubara, Timor Leste",2025-05-01 13:54:45.778000+07:00,124.5522,-7.2500,555.138,Deep
1403,us7000pw9v,4.9,"292 km N of Tobelo, Indonesia",2025-05-01 06:56:04.338000+07:00,128.3670,4.3458,10.898,Shallow
1409,us7000pw9q,4.8,"287 km N of Tobelo, Indonesia",2025-05-01 06:38:26.067000+07:00,128.4159,4.2964,8.179,Shallow
1416,us7000pw9j,4.4,"91 km NE of Gorontalo, Indonesia",2025-05-01 06:10:14.803000+07:00,123.6525,1.1105,45.273,Shallow
1495,us7000pw42,4.5,"279 km N of Tobelo, Indonesia",2025-04-30 23:08:01.822000+07:00,128.1497,4.2556,57.763,Shallow
1498,us7000pw3z,4.4,"110 km ESE of Sarangani, Philippines",2025-04-30 22:53:49.338000+07:00,126.2903,4.8505,10.000,Shallow
1557,us7000pw22,4.8,"130 km NW of Tobelo, Indonesia",2025-04-30 17:24:57.717000+07:00,127.1828,2.5681,93.363,Intermediate
1589,us7000pw1n,4.6,"226 km ENE of Lospalos, Timor Leste",2025-04-30 15:43:29.148000+07:00,128.7458,-7.4526,127.875,Intermediate
1630,us7000pw11,4.7,"192 km NE of Bitung, Indonesia",2025-04-30 12:24:37.623000+07:00,126.3937,2.6257,57.165,Shallow
1710,us7000pvyj,4.2,"3 km WNW of Sape, Indonesia",2025-04-30 03:44:44.899000+07:00,118.9504,-8.5569,153.018,Intermediate

In [50]:
db_user = 'postgres'
db_password = 'password'
db_host = 'localhost'
db_port = '5432'
db_name = 'magnitudr'

In [51]:
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [52]:
df.to_sql('earthquakes', engine, if_exists='replace', index=False)

122

In [53]:
df_all = pd.read_sql("SELECT * FROM earthquakes", engine)
df_all.head(10)

,id,magnitude,place,time,longitude,latitude,depth,depth_category
0,us7000pxht,4.6,"75 km SSE of Biak, Indonesia",2025-05-06 14:20:11.207000+00:00,136.3595,-1.7991,27.354,Shallow
1,us7000pxg2,4.6,"196 km SW of Abepura, Indonesia",2025-05-06 07:13:12.258000+00:00,139.2705,-3.7314,56.973,Shallow
2,us7000pxem,4.7,"85 km W of Tobelo, Indonesia",2025-05-06 01:45:48.108000+00:00,127.2424,1.6887,123.931,Intermediate
3,us7000pxdu,4.9,"93 km SW of Modisi, Indonesia",2025-05-05 22:57:33.219000+00:00,123.7543,-0.0463,120.847,Intermediate
4,us7000px7k,4.6,"183 km W of Tual, Indonesia",2025-05-05 08:36:59.235000+00:00,131.1014,-5.5133,69.453,Shallow
5,us7000px5i,4.4,"137 km SE of Sanana, Indonesia",2025-05-04 22:39:40.780000+00:00,126.7938,-2.9968,10.000,Shallow
6,us7000px3z,4.3,"150 km WNW of Tobelo, Indonesia",2025-05-04 16:00:03.968000+00:00,126.7552,2.2282,56.952,Shallow
7,us7000px1y,4.6,"236 km NNW of Tobelo, Indonesia",2025-05-04 08:33:23.775000+00:00,127.1590,3.6838,49.380,Shallow
8,us7000pwyv,4.5,"63 km NNE of Pototano, Indonesia",2025-05-03 21:26:26.077000+00:00,117.7102,-7.8887,10.000,Shallow
9,us7000pwys,4.4,Banda Sea,2025-05-03 21:13:47.179000+00:00,129.9592,-6.8264,120.086,Intermediate